/** {	border: 1px solid black;}*/

body { 
	background-color: #2c3e50;}

header {
	background-image: url("../img/background.jpg");
}

.circulo {
	border: 3px solid white;
	border-radius: 50%;
	padding: 10px;
	margin: 10px 0px 10px 10px;
}
.nav {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.nav img {
	margin: 5px;
	width: 40px;
	height: 40px;
}

.nav ul {
	list-style-type: none;
	margin-right: 40px;
	padding: 0;
}

.nav ul li {
	display: inline;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #ecf0f1;
	padding: 5px 10px;
	border-radius: 5px;
}

.nav a {
	color: black;
}

.descripcion {
	display: inline-flex;
	align-items: center;
	margin: 0px 50px 60px 50px;
	background-color: #95a5a6;
	border-radius: 10px;
}

.descripcion img {
	width: 8%;
	height: 8%;
	margin: 2% 1% 2% 2%; 
}

.descripcion div {
	margin: 2% 2% 2% 1%;
}

span {
	font-size: 15px;
}

a {
	color: #34495e;
	text-decoration: none;
	transition: color 0.5s ease-in-out;
}

a:hover {
	color: #c0392b;
	text-decoration: underline;
}

.footer {
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	font-size: 14px;
	color: #ecf0f1;
}

h3, h4, span, p {
	color: black;
}

h2 {
	text-align: center;
	color: #ecf0f1;
	margin: 25px 0px;
}